body {
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-blue);
}

#content {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-desaturated-blue);
  width: 320px;
  border-radius: 8px;
  transition: width .4s, height .4s;
  transition-timing-function: ease;
}

.feature-img {
  background-image: url(../images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 230px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: var(--Soft-violet);
  opacity: .6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.info {
  padding: 25px;
  text-align: center;
}

.info h1 {
  font: var(--text-lg-lexend);
  color: var(--White);
}

.info .accent {
  color: var(--Soft-violet);
}

.info p {
  padding-block: 12px;
  font: var(--text-lexend);
  color: var(--Slightly-transparent-white-main);
  opacity: .6;
}

.info-stats {
  display: grid;
  grid-gap: 8px;
  align-items: center;
  padding-top: 15px;
}

.stats {
  display: grid;
}

.ft-stats {
  font: var(--text-lg-inter);
  color: var(--White);
}

.normal-stats {
  text-transform: uppercase;
  font: var(--text-inter);
  color: var(--Slightly-transparent-white-stats);
}

.attribution {
  font: var(--text-footer);
  color: var(--White);
  text-align: center;
  align-self: start;
}

.attribution a {
  color: var(--White);
  font-weight: 700;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
  opacity: .6;
}

@media screen and (width > 1024px) {
  #content {
    width: 896px;
    grid-template-areas: 
    "info image";
    transition: width .4s, height .4s;
    transition-timing-function: ease;
  }

  .info {
    grid-area: info;
    width: 448px;
    padding: 60px;
    text-align: left;
    align-items: space-between;
  }

  .info h1,
  .ft-stats {
    font-size: 2.7em;
  }

  .info p {
    padding-block: 40px;
    line-height: 1.8em;
  }

  .info-stats {
    grid-template-columns: repeat(3, auto);
  }

  .stats {
    grid-gap: 10px;
  }

  .normal-stats,
  .attribution {
    font-size: 1.5em;
  }

  .feature-img {
    grid-area: image;
    background-image: url(../images/image-header-desktop.jpg);
    width: 448px;
    height: 440px;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .filter {
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@media screen and (width > 1440px) {
  #content {
    width: 1280px;
    transition: width .4s, height .4s;
    transition-timing-function: ease;
  }

  .info {
    width: 640px;
    padding: 80px;
  }

  .info h1,
  .ft-stats {
    font-size: 4em;
  }

  .info p {
    padding-block: 40px;
    font-size: 2em;
    line-height: 2em;
  }

  .stats {
    grid-gap: 15px;
  }

  .normal-stats,
  .attribution {
    font-size: 1.9em;
  }

  .feature-img {
    width: 640px;
    height: 562px;
  }
}